@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Bubbles&display=swap');

.title-bubble {
  font-family: 'Rubik Bubbles', cursive;
  font-size: 100px;
  color: #0F662E;
  font-weight: bold;
  margin-bottom: 10px;
}

body {
  font-family: 'Roboto Mono', monospace; /* Use Roboto Mono globally */
  margin:  0;
  padding: 0;
  background-color: #0B3A1C;
  color: #333;
}
  